# Code
src/__pycache__
src/not_used

# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.nav
*.snm
*slides/main.toc

#
src/experiments/sts-2.1.2/*
*__pycache__*
src/experiments/data/*
