[submodule "src/Python_Version/.benchmark/external_code"]
	path = src/Python_Version/.benchmark/external_code
	url = https://github.com/UCL-InfoSec/sphinx.git
[submodule "src/Rust_Version"]
	path = src/Rust_Version
	url = https://gitlab.com/manuelmotadias/master_thesis.git
